/*-----------------variables----------------------*/
:root {
  --green-color: #7acc2d;
  --white-color: white;
  --black-color: #707070;
  /*Espaciado*/
  --space: 10px;
  /*Tipografia*/
  --normal: 12px;
  /*Sombreado*/
  --box: 0 0 11px black;
}

/*-----------------variables---------------------*/

html,
body {
  padding: 0px;
  margin: 0px;
  font-size: var(--normal);
  font-family: "Open Sans", "Helvetica Neue", "sans-serif";
}

label {
  font-size: var(--normal);
  padding-bottom: var(--space);
}

nav {
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var (var--white-color);
  justify-content: space-between; /* hacemos que las opciones se ajusten horizontalemnte*/
  align-items: center; /* hacemos que se ajusten verticalmente*/
  margin: auto;
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: var(--black-color);
  text-decoration: none; /*con esto le quitamos el hipervinculo al texto*/
}

nav li a:hover {
  color: var(--white-color);
}

/*-------Main Section-----*/

.main_section {
  padding: 8%;
  text-align: center;
  font-size: 30px;
}

.products {
  background-image: url("../images/curve.png"); /* es mucho mejor poner la imagen por css del fondo para
    no tener incovenientes con lo que va arriba.*/
  height: 50px;
  background-size: cover; /* va a ocupar el tamano del div que tiene*/
  background-position: center top;
  padding: 8%;
  display: flex;
  justify-content: center;
}

/* para poder dividir las tarjetas, hacemos una llamado aparte del content*/
.product {
  padding: var(--space);
  margin-top: -240px;
  width: 250px;
}

.product .content {
  background-color: white;
  padding: var(--space);
  box-shadow: var(--box);
}
.img_content {
  text-align: center;
  height: 154px;
  padding: 5%;
}

.img_content img {
  width: 150px;
  height: 150px;
  margin: auto;
}

.main_button {
  width: 100%;
  background-color: var(--green-color);
  padding: var(--space);
  font-size: var(--normal);
  color: white;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover {
  background-color: black;
}

/* empezamos a dar estilos a la seccion de  beneficios*/

.beneficios {
  padding: 10%;
  display: flex;
}

.beneficio {
  text-align: center;
  padding: 20px;
}

.beneficio img {
  max-height: 100px;
}

.text_beneficio {
  text-align: justify;
}
/* Seccion Menciones */
.mentions {
  display: flex;
  padding: 5%;
}
.mention img {
  width: 100%;
}
h2.mention_title {
  text-align: center;
}
.mention {
  padding: var(--space);
}
.content_mention {
  box-shadow: 0px 0 2px 1px #e6e5e9;
}
.mention .text {
  padding: var(--space);
}

/*Productos*/
.products-title {
  padding: 30px;
}

/*--------Venta------*/
.modulo_pago {
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: var(--space);
}

.modulo_pago_images {
  max-width: 150px;
  margin: auto;
  text-align: center;
  width: 100%;
}
.data {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid var(--black-color);
  box-sizing: border-box;
}

.modulo_pago .main_button {
  margin-top: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: var(--normal);
  background-color: var(--black-color);
  padding: var(--space);
  color: var(--white-color);
}

.contact a {
  text-decoration: none;
  color: var(--white-color);
}
